/bcel/build/
/bcel/nbproject/private/
/cli/
/cmd/build/
/cmd/dist/
/cmd/nbproject/private/
/core/build/
/core/dist/
/core/nbproject/private/
/core/test/integration/build/
/help/build/
/help/nbproject/private/
/nbcore/
/nodes/
/product/build/
/product/nbproject/private/
/product/release/
/suite/
/ui/build/
/ui/nbproject/private/
/views/
