/build
/bcel/build
/bcel/nbproject/private
/cli/dist
/cli/build
/cli/nbproject/private
/cmd/build
/cmd/dist
/cmd/nbproject/private
/core/build
/core/dist
/core/nbproject/private
/core/test/integration/build
/help/build
/help/nbproject/private
/installer/build
/installer/dist
/installer/nbproject/private
/launcher/windows/jswat.res
/nbcore/build
/nbcore/nbproject/private
/nodes/build
/nodes/nbproject/private
/product/build
/product/nbproject/private
/suite/branding
/suite/build
/suite/nbproject/private
/ui/build
/ui/nbproject/private
/views/build
/views/nbproject/private
